{% extends "main/base.html" %}
{% block title %}::Registration::{% endblock %}

{% block content %}
<p style="color:red">Registration temporarily is not avaible</p>
<p style="color:red">Project is in the alpha testing stage</p>
<p><a href="https://telegram.me/kurashh">To registrate account - PM admin</a></p>
<!--
    <form method="post", action="{% url 'usersapp:register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>There is some error in the form!</p>
        {% endif %}

        {{ form }}

        <input type="submit" value="Register">
    </form>
-->
{% endblock content %}
