{% extends "main/base.html" %}
{% load static %}
{% block title %}::Registrate User::{% endblock %}
    {% block content %}
        <h3 class="info-header" style="text-align:center;">Добавляем нового игрока</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" class="send-code" onclick="send_code()">Send Code</button>
            <input type="hidden" id="input-code" maxlength="6" placeholder="Code">
            <input type="hidden" id="reg-acc" value="Разегестрировать аккаунт">
            </form>
    
    <script src="{% static 'main/add.js' %}"></script>
    {% endblock content %}