<{% extends "main/base.html" %}
{% block title %}Player {{ id }}{% endblock %}
	
	{% block content %}
	<div class="player-info">
		<p>Name: {{ username }}</p>
		<p>Class: {{ class }}</p>
		<p>Status: {{ status }}</p></br>
		<p>LVL: {{ lvl }}</p>
		{% if lvlup %}<p>Hero have points for upgrading skills!</p>{% endif %}
		<input type="text" id="input-command" maxlength="20" placeholder="Command">
		<button type="submit" class="send_shell_command" onclick="chat_shell()">Submit</button>
		</div>
		<div id="shell-out"></div>
	{% endblock content %}