{% extends "main/base.html" %}
{% block title %}Player {{ id }}{% endblock %}
	
	{% block content %}
	<div class="player-info">
		<p>Name: {{ username }}</p>
		<p>Class: {{ class }}</p>
		<p>Status: {{ status }}</p></br>
		<p>LVL: {{ lvl }}</p>
		{% if lvlup %}<p>Hero have points for upgrading skills!</p>{% endif %}
		<input type="text" id="input-command" maxlength="20" placeholder="Command">
		<button type="submit" class="send_shell_command" onclick="chat_shell()">Submit</button>
	</div>

	<div class="container">
		<div class="buttons" style="text-align: center;">
			<button id="chw_button" onclick="get_button_2_tg(this)" type="button">🏅Герой</button>
			<button id="chw_button" onclick="get_button_2_tg(this)" type="button">🍺Таверна</button>
			<button id="chw_button" onclick="get_button_2_tg(this)" type="button">🏚Лавка</button>
			<button id="chw_button" onclick="get_button_2_tg(this)" type="button">⚖️Биржа</button>
			<button id="chw_button" onclick="get_button_2_tg(this)" type="button">▶️Быстрый бой</button>
		</div>
	</div>

	<div class="container">	
		<div class="shell-output"></div>
	</div>
	{% endblock content %}